[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
opencv-contrib-python = "*"
chromedriver-binary = "~=108.0"
requests = "*"
jupyter = "*"
notebook = "*"
selenium = "==4.1.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
